<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto"
          package="com.ingweland.pnd">
  <uses-sdk android:minSdkVersion="16" />
  <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.INTERNET" />
  <permission android:name="com.ingweland.pnd.permission.C2D_MESSAGE"
              android:protectionLevel="signature" />
  <uses-permission android:name="com.ingweland.pnd.permission.C2D_MESSAGE" />
  <application android:label="PND">
    <receiver
      android:name="com.google.android.gms.gcm.GcmReceiver"
      android:exported="true"
      android:permission="com.google.android.c2dm.permission.SEND">
      <intent-filter>
        <action android:name="com.google.android.c2dm.intent.RECEIVE" />
        <category android:name="com.ingweland.pnd" />
        <!--        following action for Android < 19-->
        <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
      </intent-filter>
    </receiver>
  </application>
</manifest>